*{
    box-sizing: border-box;
}

body {
    margin: auto;
    display: flex;
    justify-content: center;
}

.X {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    min-width: 250px;
    padding-bottom: 175px;
}

.X_winner {
    font-size: 30px;
    color: red;
    font-weight: bold;
}

.center {
    border: 1px solid black;
    max-width: 650px;
    max-height: 650px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    margin: 0px 50px;
}

.center div {
    height: 175px;
    width: 175px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center img {
    max-width: 150px;
    max-height: 150px;
}

.O {
    border: 1px solid green;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    min-width: 250px;
    padding-bottom: 175px;
}

.O_winner {
    font-size: 30px;
    color: green;
}

.X img, .O img {
    max-width: 200px;
    max-height: 200px;
}

.block0, .block2, .block4, .block6, .block8 {
    border : 1px solid violet;
}

.block1, .block3, .block5, .block7 {
    border: 1px solid blue;
}